#header {
	size: 90%;
	background: 
		url(assets/trim-triangles-blue.png) bottom no-repeat,
		url(assets/battlegrounds-bg.jpg) center no-repeat;
	padding-top:2%;
	color:white;
}

#header h2 {
	text-shadow: 0 0 1rem #009cff;
}

#logo {
	height: 100px;
}

.imageCenterer {
	height:160px;
}

.container {
padding-right:5px;
padding-left:5px;
margin-right:auto;
margin-left:auto
}

body {
	font-family: Metronic,"Myriad Pro",Myriad,Arial,sans-serif;
	color:white;
}

.heroes {
	background-color:#2D136A;
	border-radius:2px;
	margin-left:2%;
	padding-left:2%;
	padding-right:2%;
	display:inline;
}

.heroes-rw {
	display:flex;
	justify-content:center;
}

.heroesheader {
	text-align:center;
	margin:1%;
}

.allheroesholder {
	padding-bottom:5px;
}

#line {
	background: linear-gradient(to right,#0d0119,#009cff,#0d0119) bottom;
	height:2px;
	width:100%;
	
}

#d2:target {
    display: none;
}